/* General Styles */
body {
    background-color: #f8f9fa;
}

.card {
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    background: white;
    padding: 20px;
}

.graph-placeholder {
    height: 200px;
    background: #e9ecef;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    font-size: 1.2rem;
    font-weight: bold;
    color: #6c757d;
}

.link-primary {
    font-weight: bold;
}

#graph1, #graph2, #graph3, #graph4 {
    height: 250px; 
    background-color: #f0f0f0; 
}

.card-body {
    padding: 1.5rem; 
}

#reasonPieChart {
    max-height: 265px !important;
}